{% extends "front_layout.html.twig" %}

{% block content %}
<div class="container vw-100 vh-100 d-flex justify-content-center align-items-center">
  <div class="row w-100 d-flex justify-content-around">
    <div class="col-7">
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <span class="navbar-brand mb-0 h1">Dernier Articles</span>
           {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_article_new') }}" class="btn btn-success">Nouveau</a>
            {% endif %}
        </div>
      </nav>
     
     
      <ul class="list-group">
      
        {% for i in 0..4 %}
           <a href="{{ path('app_article_detail', {'id': articles[i].id}) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">{{ articles[i].objet }}</div>
                de {{ articles[i].auteur.email }}
              </div>
              <span class="badge bg-primary rounded-pill">{{ articles[i].date_ToString() }}</span>
          </a>
        {% endfor %}
        <a href="{{ path('article') }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
        Voir tout les articles
        </a>
    </div>
    <div class="col-5 justify-content-center">
  
      <h1 class="text-center">Meilleur chat du site : <span class="fw-bold">{{entity.name}}</span>  de {{entity.user.email}} </h1>
    
   
        <div class="c-subscribe-box">
          <div class="rainbow"><span></span><span></span></div>
        
            
            <img src="{{ asset(entity.image.webPath) }}" alt="{{ entity.name }}"class="c-subscribe-box__wrapper"  style="max-width:300px; border-radius:8px;">
            
        </div>


        <div class="container d-flex justify-content-between align-items-center w-50">
          <p style="color: blue">Nombre de likes: {{ entity.likes|length }}</p>
          <a href="{{ path('app_cat_detail', {'id': entity.id}) }}"><i class="fas fa-search button_edit" ></i></a>
        </div>
        
      </div>
   </div>
</div>
    



{% endblock %}